@import "vars";
@import "fonts";

.main{
	margin-top: 30px;
	.carousel{
	border: $border;
}
	.welcome{
		background-color: $fondo__normal;
		border: $border;
		margin-top: 10px;
	}
}
.footer{
	background-color: $fondo__titulos;
	border: $border;
	height: 25vh;
	p{
		color: white;
		text-align: center;
		margin-top: auto;
	}
}
@media screen and (min-width: 900px){
	.main{
		margin-top: 0px;
		margin: 60px;
	}
	.welcome{
		overflow: hidden;
	}
	.footer{
		height: 10vh;
	}
}